<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cruise.preetika.cruiseapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".classes.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".classes.SignUp"
            android:label="Signup"
            android:screenOrientation="portrait"/>
        <activity android:name=".classes.Login"
            android:label="Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".classes.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".classes.Room_booking_info"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".classes.Splash"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".classes.Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".classes.ActivityDetails"
            android:screenOrientation="portrait"/>

        <activity android:name=".classes.Services"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".classes.InvoiceActivity"
            android:label="@string/title_activity_invoice"
            android:screenOrientation="portrait"/>
        <activity android:name=".classes.Itpackage2"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>